{% extends 'base.html' %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}
{% block body %}

<div class="container">
    <h2>ClamAV Scan</h2>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <table>
            <tr>
                <td>{{ form.scan_file }}</td>
                <td>{{ form.scan_folder }}</td>
                <td>{{ form.scan_hard_driver }}</td>
            </tr>
            <tr>
                <td></td>
                <td>{{ form.show_history }}</td>
                <td></td>
            </tr>
        </table>
    </form>
    <div id="result">
        <textarea rows="15" cols="72" readonly placeholder="Scan result...">{{ data }}</textarea>
    </div>
</div>
{% endblock %}